body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
span{
    color: orangered;
}
.about-nihal{
    display: flex;
    margin-left: 10px;
    padding-right: 20%;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.introduction img{
width: 185%;
padding-right: 10px;
}
a{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 600;
    color: white;
}
.dream-big{
    padding-left: 10%;
    padding-right: 12%;
}
.dream-big img{
width: 180%;
}
.Dream{
    display: flex;
    margin-top: 80px;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}