body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
span{
    color: orangered;
}
.about-nihal{
    display: flex;
    margin-left: 10px;
    padding-right: 20%;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.introduction img{
width: 185%;
padding-right: 10px;
}
a{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 600;
    color: white;
}
.dream-big{
    padding-left: 12%;
    padding-right: 10%;
}
.dream-big img{
width: 180%;
}
.Dream{
    display: flex;
    margin-top: 80px;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    display: flex;
}
.management{
    text-align: justify;
    padding: 80px 80px;
    margin: 100px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
   
}
.experience-area img{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}
footer p{
    text-align: center;
}
#develope{
    border-left: 10px solid;
    border-image: linear-gradient(purple, tomato) ;
    border-image-slice: 1;
}
#web{
    border-left: 10px solid;
    border-image: linear-gradient(blue, white) ;
    border-image-slice: 1;
}